@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* pour la couleur du background */
    background: #910106;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* pour les transition de couleur du background */
    background: linear-gradient(#3131e2, #1f1443);
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background: rgb(63, 64, 65);
    transition: 0s;
}

section .bleu {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
section .bleu .boutons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 25px;
}

section .rouge {
    position: fixed;
    top: 15%;
    right: 5%;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
section .rouge .boutons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 25px;
}

section .lancer {
    position: fixed;
    top: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    z-index: 10;
}

.errorMessage {
    color: red;
    margin-top: 20px;
    white-space: nowrap;
  }

section .code {
    position: fixed;
    top: 1.5%;
    width: 20%;
    left: 1.5%;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 100;
}

section .quitter {
    position: fixed;
    top: 1.5%;
    width: 20%;
    right: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    z-index: 100;
}
@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}